<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kernal.plateid">

    <!-- 读取机器各种ID的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 关闭该包下的所有应用程序 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
    guangda
    <uses-permission android:name="cybertech.pstore.permission.COMPONENT" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" />
    -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".application.CardScanApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".activity.WelcomeActivity">


        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".PlateIDCfg"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="kernal.plateidconfig" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">


        </activity>

        <service
            android:name=".AuthService"
            android:enabled="true">
            <intent-filter>
                <action android:name="kernal.plateid.authservice" />
            </intent-filter>
        </service>
        <service
            android:name=".RecogService"
            android:enabled="true">
            <intent-filter>
                <action android:name="kernal.plateid.recogService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MemoryCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity
            android:name=".activity.MemoryResultActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResultActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PermissionActivity" />
        <activity
            android:name=".PlateIDBean"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="kernal.plateid" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="kernal.camera" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CameraRecogPlateID"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="kernal.camera.zhuhai" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlateVideoCameraActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".activity.PlateVideoImagActivity"
            android:configChanges="keyboardHidden|orientation" />
        <!-- android:screenOrientation="landscape" -->

        <activity android:name=".activity.TruckInspectionResultActivity" />
        <activity android:name=".activity.TruckInspectionActivity" />
        <activity android:name=".activity.TruckConfirmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>